body {
    /*background: yellow;*/
    margin: 0;
    padding: 20px;
}

.logo {
    height: 200px;
    width: 200px;
}

footer {
    background: black;
    padding: 2px;
    width: 100%;
    color: #fff;
}

footer p {
    text-align: center;
}

.zapatos {
    background: brown;
    height: 200px;
    width: 600px;
    color: #fff;
    padding: 20px;
}

.zapatos img {
    height: 40%;
}

.article {
    background: aquamarine
}