extends ../includes/template

block title
  | HS - Home

append styles
  link(href="#" rel="stylesheet")

block content
  h1 Welcome to Site 
  p Hispano Soluciones

block footer
  p Hispanos Soluciones C.A