<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Componentes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div id="main" class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>VUE-js Filtros</h1>
                <button class="btn btn-primary" v-on:click="getUsers" v-if="!lists.length">
                    Listar
                </button>
                <ul class="list-group" v-else>
                    <li class="list-group-item">
                        <input type="text" placeholder="Buscar..." class="form-control" v-model="name">
                    </li>
                    <li v-for="item in searchUser" class="list-group-item">
                        {{ item.name }}
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <h1>Json</h1>
                <pre>
                    {{ $data  }}
                </pre>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#main',

            data: {
                lists: [],
                name: '',

            },
            methods: {
                getUsers: function() {
                    var urlUsers = 'https://jsonplaceholder.typicode.com/users';
                    axios.get(urlUsers).then(response => {
                        this.lists = response.data
                    });
                }
            },
            computed: {
                searchUser: function() {
                    return this.lists.filter((item) => item.name.includes(this.name));
                }
            }
        });
    </script>
</body>

</html>