<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <title>Listas Vue</title>
</head>

<body>
    <div id="main">
        <ul>
            <li v-for="item in people" v-text="item"></li>
        </ul>
        <input type="text" v-model="name" v-on:keyup.enter="addName">
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#main',
            data: {
                people: ['Ana', 'Emanuel', 'Joaquin', 'Maida']
            },
            name: '',
            methods: {
                addName: function() {
                    this.people.push(this.name);
                    this.name = ' ';
                }
            }
        });
    </script>
</body>

</html>