<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEAN APP</title>
</head>

<body>
    <h1>MEAN APP</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, et sit quod blanditiis qui doloribus at cumque aut dolorem perspiciatis, fugit eos quaerat reiciendis maiores minima alias explicabo aliquam! Illum.</p>
</body>

</html>