body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #4286f4, #373B44);
  background: -o-linear-gradient(left, #4286f4, #373B44);
  background: linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
