@import "variables";
section {
    background: $colorUno;
    h1 {
        height: 200px;
        background: $colorDos;
    }
    h2 {
        height: 200px;
        background: $colorTres;
    }
    p {
        height: 200px;
        background: $colorCuatro;
    }
}