@mixin cuadrado ($fondo, $ancho:200px) {
    background: $fondo;
    width: $ancho;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
}

.cuadro-1 {
    @include cuadrado(#000, 300px);
}

.cuadro-2 {
    @include cuadrado(#bf2222);
}

.cuadro-3 {
    @include cuadrado(tomato, 100px);
}