<div class="card">
    <div class="card-body">
        <form (submit)="addTask($event)">
            <div class="input-group">
                <input type="text" class="form-control" name="title" [(ngModel)]="title" placeholder="Añadir Titulo">
                <span class="input-group-addon">
                    <button type="submit" class="btn btn-primary">
                        Añadir Tarea
                    </button>
                 </span>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Titulo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>