.weatherDataContainer
  width: 400px
  height: 100px
  line-height: 100px
.weatherTemperatureContainer
  width: 60%
  display: inline-block
  .temperature
    font-size: 35px
    font-weight: bold
    padding-left: 20px
    color: #333
  .temperatureType
    font-weight: bold
    color: #666
.weatherExtraInfoContainer
  width: 40%
  display: inline-block
  line-height: 25px
  text-align: left
  .extraInfoText
    display: block
    color: #1535C5
    font-size: 18px
    font-weight: bold
