@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Montserrat|Arvo');
body {
    font-family: 'Arvo', serif;
}

#header-container,
#info-container {
    background-color: #99c84a;
    color: white;
}

#header-container .container h1 {
    font-family: 'Do Hyeon', sans-serif;
}

#header-container .login {
    color: white;
}

.hamburguesa {
    left: 82%;
    margin-top: -13%;
    position: absolute;
    color: white;
}

#menu-container {
    background-color: rgba(187, 187, 187, 0.38);
}

.btn.btn-platzi {
    background-color: #99c84a;
    color: white;
}

.btn.btn-platzi:hover {
    background-color: #8ab542;
}

input.form-control:focus {
    border-color: #99c84a;
}

#menu-container input.form-control {
    font-family: 'Montserrat', sans-serif;
}

#info-container h4 {
    margin: 1em 0;
    font-family: 'Do Hyeon', sans-serif;
}

#info-container img {
    margin: 0 auto;
    margin-top: 2em;
}

#footer-container {
    background-color: #1c3643;
    color: white;
    padding: 3em 0;
}

#footer-container h4 {
    font-size: 16px;
}

#footer-container .nav-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 0.4;
    font-weight: bold;
}

#footer-container .nav-link:hover {
    color: #8ab542;
}

.has-danger {
    color: red;
    font-size: 20px;
}

.has-danger input {
    border: 1px solid red;
}

.has-success {
    color: rgb(13, 241, 32);
    font-size: 20px;
}

.has-success input {
    border: 1px solid rgb(3, 102, 11);
}

#breadcrumbs-container .breadcrumb {
    background-color: white;
    padding-left: 0;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item {
    color: #1c3643;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item.active {
    color: #95a5a6;
}

#breadcrumbs-container .breadcrumb-item+.breadcrumb-item::before {
    content: ">"
}

#filtros-container .list-group-item-action.active {
    background-color: #99c84a;
    border-color: #99c84a;
}

#filtros-container .list-group {
    margin-bottom: 1em;
}


/* Media Querys */

@media (max-width: 768px) {
    #footer-container [class*="col-"] {
        margin-bottom: 2em;
    }
    #footer-container .col-sm-1 {
        width: 48%;
    }
}

@media (max-width: 640px) {
    #menu-container .btn.btn-platzi {
        position: absolute;
        margin-top: 0px !important;
        margin-left: 73% !important;
    }
}