include config
doctype
html
  head
    title
      block title
    block styles
      link(href="css/styles.css" rel="stylesheet")
  body
    header
      include menu
    block content
    footer
      block footer