<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Finanzas Vue</title>
</head>

<body>
    <h1>Taller Vue JS - EDteam</h1>
    <p>Venta de Producto</p>
    <main id="app">
        <input-sale label="Precio $" v-model="price"></input-sale>
        <input-sale label="Cantidad" v-model="amount"></input-sale>
        <input-sale label="Descuento %" v-model="discount"></input-sale>
        <input-sale label="Impuesto %" v-model="tax"></input-sale>
        <p>Total: ${{ total }}</p>

    </main>
    <template id="input-sale">
    <div>
        <label v-if="label">{{ label }}</label>
        <input ref="input" :value="value" @input="updateValue($event.target.value)" @:blur="formatValue">
    </div>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/currency-validator.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                price: 0,
                amount: 0,
                discount: 0,
                tax: 0
            },
            components: {
                'input-sale': {
                    template: '#input-sale',
                    props: {
                        value: {
                            type: Number,
                            default: 0
                        },
                        label: {
                            type: String,
                            default: ''
                        }
                    },
                    mounted() {
                        this.formatValue()
                    },
                    methods: {
                        updateValue(value) {
                            let result = currencyValidator.parse(value, this.value)
                            if (result.warning) {
                                this.$refs.input.value = result.value
                            }
                            this.$emit('input', result.value)
                        },
                        formatValue() {
                            this.$refs.input.value = currencyValidator.format(this.value)
                        }
                    }
                }
            },
            computed: {
                total() {
                    let subtotal = this.price * this.amount
                    subtotal -= ((subtotal * this.discount) / 100)
                    subtotal += ((subtotal * this.tax) / 100)
                    return subtotal.toFixed(2)
                }
            }
        })
    </script>
</body>

</html>