$bg-color: rgb(126, 221, 2);
html {
    font: {
        family: sanserif;
        size: 16px;
    }
    background-color: $bg-color;
    display: flex;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}