body {
    background-color: #ee3f54;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Bree Serif', serif;
}

#social-container {
    background-color: #1c3643;
}

#logo-container .callout {
    background-color: #ee3f54;
    color: white;
    margin-bottom: 0;
}

#menu-container {
    background-color: #48a19d;
}

#menu-container li a {
    color: white;
    font-family: 'Bree Serif', serif;
}

#submenu-container {
    border: 0;
}

#menu-container li a:hover,
#submenu-container li a:hover {
    color: #f6e15f;
}

#submenu-container li a {
    background-color: #48a19d;
    color: white;
}

#tickets-action .callout {
    background-color: #5e7eb7;
    color: white;
    margin-bottom: 0;
}

#tickets-action .callout button {
    color: white;
    border: 1px solid white;
}

#tickets-action .callout button:hover {
    background-color: #ee3f54;
}

#lineup-container {
    padding: 1em 0;
}

#lineup-container,
#lineup-container .tabs-panel,
#lineup-container .tabs,
#lineup-container .tabs .tabs-title,
#lineup-container .tabs .tabs-title.is-active a {
    background-color: #9676af;
    color: white;
    border: 0;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
}

.tabs-content {
    border: 0;
}

#lineup-container .tabs .tabs-title a {
    font-size: 18px;
    color: #a7fffb;
    font-family: 'Bree Serif', serif;
}

#lineup-container .tabs .tabs-title a:hover {
    color: white;
    background-color: #9676af;
}

.tabs-title {
    display: inline-block;
    float: none;
}

#lineup-container .orbit-container {
    margin-bottom: 1em;
}

#lineup-container .column:nth-child(odd) figcaption {
    text-align: right
}


/* .orbit-slide,
.orbit-image {
    height: 379px;
} */

#tickets-container {
    padding: 1em 0;
    background-color: #f6e15f;
    color: #161742;
}

.pricing-table {
    border: 1px solid #161742;
    border-top: 1px;
    font-family: 'Ravi Prakash', cursive;
}

.pricing-table li,
.pricing-table li.description {
    font-size: 20px;
}

.pricing-table li.price,
.pricing-table li.title {
    font-size: 30px;
}

.pricing-table li.price {
    background-color: white;
}

.pricing-table a.button {
    font-family: 'Bree Serif', serif;
}

#info-container {
    background-color: #161742;
    color: white;
    padding: 1em 0;
}

#info-container .info-map iframe {
    width: 100%
}