*
 margin: 0
 padding: 0
 box-sizing: border-box
body
 width: 100%
 font-family: 'Titillium Web',sans-serif
 header
  margin-top: 75px
 #testimonial
  background: #f1f1f1
  padding: 50px 0 30px 0
  text-align: center
  margin-top: 40px
 #info-two
  background: rgba(23,176,193,0.98)
  padding: 30px 0 30px 0
 footer
  background: url(../img/smartphones.png)
  background-repeat: no-repeat
  background-size: cover
 .credit
  padding-top: 6px
  padding-bottom: 30px
  background-color: #2e2e2e
  height: 130px
  .media-container-row
   flex-wrap: nowrap
   color: #fff
   text-align: center
   .credit-content
    display: flex
    text-align: center
    margin-left: 36%
    img 
     height: 60px
     padding-right: 20px
