doctype
head
  title My first with PUG
  meta(name="viewport" content="")
  link(rel="stylesheet" href="css/style.css")
body.main#front-page
  h1(style={color: "red", " font-size": "2em"}) Bienvenidos
  
  ul
    li 
      a(href="index.html")
        | Home
    li
      a(href="js.html") 
        | JavaScript en PUG
    li 
      a(href="condicionales.html")
        | Condicionales
    li Item 4
  
