body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-frame {
  margin: 5%;
  padding: 30px;
  width: calc(80vh);
  background: rgba(32, 124, 229, 1);
  background: -moz-linear-gradient(left, rgba(32, 124, 229, 1) 6%, rgba(65, 149, 233, 1) 49%, rgba(73, 155, 234, 1) 59%, rgba(73, 155, 234, 1) 65%);
  background: -webkit-gradient(left top, right top, color-stop(6%, rgba(32, 124, 229, 1)), color-stop(49%, rgba(65, 149, 233, 1)), color-stop(59%, rgba(73, 155, 234, 1)), color-stop(65%, rgba(73, 155, 234, 1)));
  background: -webkit-linear-gradient(left, rgba(32, 124, 229, 1) 6%, rgba(65, 149, 233, 1) 49%, rgba(73, 155, 234, 1) 59%, rgba(73, 155, 234, 1) 65%);
  background: -o-linear-gradient(left, rgba(32, 124, 229, 1) 6%, rgba(65, 149, 233, 1) 49%, rgba(73, 155, 234, 1) 59%, rgba(73, 155, 234, 1) 65%);
  background: -ms-linear-gradient(left, rgba(32, 124, 229, 1) 6%, rgba(65, 149, 233, 1) 49%, rgba(73, 155, 234, 1) 59%, rgba(73, 155, 234, 1) 65%);
  background: linear-gradient(to right, rgba(32, 124, 229, 1) 6%, rgba(65, 149, 233, 1) 49%, rgba(73, 155, 234, 1) 59%, rgba(73, 155, 234, 1) 65%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea', GradientType=1);
}

.customers-actions {
  background: #AAA;
  padding: 10px;
  margin: 10px;
}

.customers-actions button {
  background: white;
  min-width: 200px;
  height: 30px;
  margin: 5px;
}

.customers-list-item .field{
  width: 130px;
  margin: 1px;
  padding: 4px;
  background: #eeeeee;
  display: inline-block;
}