*{
	margin: 0;
	padding: 0;
}
body{
	background: url(bg.jpg) no-repeat 0px -30px #3D3B3B;
	animation: fondo .2s ease-in-out infinite;

}
.carro img {
	background: url(ferrari.png);
	width: 220px;
	height: 80px;
	position: relative;
	top: 505px;
	left: 40%
	
}
.rueda1 img{
	background-image: url(rueda.png);
	position: absolute;
	top: 536px;
	left: 552px;
	width: 33px;
	height: 33px;
	z-index: 10;
	 animation: llanta .2s infinite linear;
}
.rueda2 img{
	background-image: url(rueda.png);
	position: absolute;
	top: 536px;
	left: 704px;
	width: 33px;
	height: 33px;
	z-index: 10;
	animation: llanta .2s infinite linear;
}

/* ANIMACIONES */

@keyframes fondo {
	0% {background-position: left top}
	100% {background-position: right top;}
}

@keyframes llanta {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}