body{
	background-color: #cadde5;
	padding: 0px;
	margin: 0px;
}
#contenido{
    background: #fff;
	margin: 80px auto;
    padding: 20px;
	width:  80%;
    
    
}
a, input, textarea{
    display: block;
    margin: 10px 0;
}
a:link {
    color: red;
    text-decoration: none;
}
a:visited {
    color: gray;
}
a:hover, p:hover {
    background-color: chartreuse;
    color: wheat;
    padding: 5px;
}
a:active {
    background: green;
}
input:focus, textarea:focus {
    background: black;
    color: white;
    height: 50px;
}