body {
    margin: 0;
    padding: 10px;
    color: #fff;
    /* background-color: purple; */
    background-image: url('https://images.pexels.com/photos/462402/pexels-photo-462402.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    width: 500px;
    height: 100vh;
    padding: 50px;
    margin: 100px auto;
    background-image: url('https://scontent-sjc3-1.cdninstagram.com/vp/78ae5b4d1ab1fc588eeb9753332944c8/5B55A944/t51.2885-15/e35/29417073_107655430051369_1902047544301584384_n.jpg');
    background-repeat: no-repeat;
    background-clip: content-box;
    border: 5px solid black;
    background-size: cover;
}