<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Propiedades VUEJS</title>
    <link rel="icon" href="https://vuejs.org/images/logo.png">

</head>

<body>
    <main id="app">
        <h1>Propiedades VUEJS</h1>
        <a href="./">Regresar</a>
        <shows v-for="show in shows" :name="show.name" :poster="show.image.medium" :rating="show.rating.average" :genres="show.genres"></shows>
    </main>
    <template id="shows">
		<figure>
			<img :src="poster":alt="name">
			<figcaption>
				<h3>{{ name }}</h3>
				<p>Calificación:<b>{{rating}}</b></p>
				<p>Generos:</p>
				<ul>
					<li v-for="genre in genres" v-text="genre"></li>
				</ul>
			</figcaption>
		</figure>
	</template>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
<script>
    Vue.component('shows', {
        template: '#shows',
        //NOTA: SI NO SE REQUIERE QUE LAS PROPIEDADES LES SEA DECLARO EL TIPO PUEDE DEJARSE 
        //DECLARADAS EN UN ARREGLO TAL COMO ABAJO SI NO SE DECLARA EN UN OBJETO
        //props: ['name', 'poster', 'rating', 'genres']
        props: {
            name: {
                type: String,
                required: true
            },
            poster: String,
            rating: Number,
            genres: {
                type: [String, Array],
                required: true,
                default: 'No tiene genero'
            }
        }
    })
    const mv = new Vue({
        el: '#app',
        mounted() {
            axios.get('http://api.tvmaze.com/shows')
                .then(res => {
                    console.log(res)
                    this.shows = res.data
                })
        },
        data: {
            shows: []
        }

    })
</script>

</html>