/*variables*/

:root
{
    --fondo: rgb(230, 224, 224);
    --fh1: yellow;
    --fp: rgb(5, 129, 5);
    --ch1: black;
    --cp: #fff;
    --color-title: green;
    --color-subtitle: blue;
}


/* Selectores de Tipo */

body
{
    margin: 0;
    padding: 20px;
    font-size: 2em;
    background: var(--fondo);
}


/* h1 {
    background: var(--fh1);
    color: var(--ch1);
}

p {
    background: var(--fp);
    color: var(--cp);
} */


/* Selectores de Clase */

.title
{
    color: red;
    background: var(--fh1);
}

.description
{
    color: var(--cp);
    background: var(--fp);
}

.bold
{
    font-weight: bold;
}

.center
{
    text-align: center;
}


/* Selectores de ID */

#p_id
{
    background: tomato;
}


/* Selectores Universales */


/* * {
    color: red;
} */


/* Case Sensitive en selectores CSS */


/* OJO los TAGS no son sensitive */

div
{
    color: green;
}


/* Los atributos son sensitive */

.parrafo
{
    background: gold;
}


/* Selectores Agrupados */

.titulo,
.text
{
    color: red;
}

/* Selectores Descendientes: por tema de especifidad no son muy
recomendados */
.list .list-item
{
    color: blueviolet;
}
/* cuando defino un espacio entre la agrupacion de selectores
el navegador comprende que una clase esta dentro de la otra*/
/* Hijo directo */

li > ul
{
    display: none;
}

li:hover ul
{
    display: block;
}

/* Selector Hermano Siguiente */
.title-1{
  color: red;
}
.title-2{
  color: blue;
}
.subtitle {
  font-size: .5em;
  margin-top: -2em;
}

.title-1 + .subtitle{
  color: var(--color-title);
}

.title-2 + .subtitle{
  color: var(--color-subtitle);
}
/* Selector Hermanos Siguientes = ~ */
.enabled {
  display: none;
}
.check:checked ~ .enabled{
  display: block;
}
.check:checked ~ .disabled{
  display: none;
}
/* Selectores de atributos */
[type="email"] {
  border: 1px solid blue;
}

[type="submit"] {
  background: red;
  color: white;
  border: none;
}
[required]{
  border: 2px solid red;
  margin: .5em;
}
